body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    padding: 15px;
}

h1 {
    color: black;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 20px;
    padding: 20px;
}

h2 {
    color: navy;
}

p {
    color: black;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
}

button:hover {
    background-color: darkblue;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}